@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">The Project List</h1>
    <h3 class="display-6">A Final Project</h3>
    <h3 class="display-6">by</h3>
    <h1 class="display-4">Kevin Jordan</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
